<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <display-name>Hye Pye</display-name>

    <description>
        Armenian-English verb translation and conjugation application.
    </description>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:com/interzonedev/hyepye/spring/applicationContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>com.interzonedev.metrikos.metricRegistryBeanName</param-name>
        <param-value>com.interzonedev.metrikos.metricRegistry</param-value>
    </context-param>
    <context-param>
        <param-name>com.interzonedev.metrikos.healthCheckRegistryBeanName</param-name>
        <param-value>com.interzonedev.metrikos.healthCheckRegistry</param-value>
    </context-param>
    <context-param>
        <param-name>com.codahale.metrics.servlets.MetricsServlet.rateUnit</param-name>
        <param-value>SECONDS</param-value>
    </context-param>
    <context-param>
        <param-name>com.codahale.metrics.servlets.MetricsServlet.durationUnit</param-name>
        <param-value>MILLISECONDS</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.interzonedev.metrikos.MetricsContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.interzonedev.metrikos.HealthCheckContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>hyepye-springServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/servletContext.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>hyepye-codaHaleMetricsServlet</servlet-name>
        <servlet-class>com.codahale.metrics.servlets.MetricsServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>hyepye-codaHaleHealthCheckServlet</servlet-name>
        <servlet-class>com.codahale.metrics.servlets.HealthCheckServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>hyepye-hystrixMetricsStreamServlet</servlet-name>
        <servlet-class>com.netflix.hystrix.contrib.metrics.eventstream.HystrixMetricsStreamServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>hyepye-springServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>hyepye-codaHaleMetricsServlet</servlet-name>
        <url-pattern>/admin/metrics/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>hyepye-codaHaleHealthCheckServlet</servlet-name>
        <url-pattern>/admin/healthcheck/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>hyepye-hystrixMetricsStreamServlet</servlet-name>
        <url-pattern>/admin/hystrix.stream/*</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <error-page>
        <error-code>404</error-code>
        <location>/error/404</location>
    </error-page>

    <error-page>
        <error-code>405</error-code>
        <location>/error/405</location>
    </error-page>

    <error-page>
        <location>/error/default</location>
    </error-page>

</web-app>
